{
    "alt-speed-down": {{ .Env.TRANSMISSION_ALT_SPEED_DOWN }},
    "alt-speed-enabled": {{ .Env.TRANSMISSION_ALT_SPEED_ENABLED }},
    "alt-speed-time-begin": {{ .Env.TRANSMISSION_ALT_SPEED_TIME_BEGIN }},
    "alt-speed-time-day": {{ .Env.TRANSMISSION_ALT_SPEED_TIME_DAY }},
    "alt-speed-time-enabled": {{ .Env.TRANSMISSION_ALT_SPEED_TIME_ENABLED }},
    "alt-speed-time-end": {{ .Env.TRANSMISSION_ALT_SPEED_TIME_END }},
    "alt-speed-up": {{ .Env.TRANSMISSION_ALT_SPEED_UP }},
    "bind-address-ipv4": "{{ .Env.TRANSMISSION_BIND_ADDRESS_IPV4 }}",
    "bind-address-ipv6": "{{ .Env.TRANSMISSION_BIND_ADDRESS_IPV6 }}",
    "blocklist-enabled": {{ .Env.TRANSMISSION_BLOCKLIST_ENABLED }},
    "blocklist-url": "{{ .Env.TRANSMISSION_BLOCKLIST_URL }}",
    "cache-size-mb": {{ .Env.TRANSMISSION_CACHE_SIZE_MB }},
    "dht-enabled": {{ .Env.TRANSMISSION_DHT_ENABLED }},
    "download-dir": "{{ .Env.TRANSMISSION_DOWNLOAD_DIR }}",
    "download-limit": {{ .Env.TRANSMISSION_DOWNLOAD_LIMIT }},
    "download-limit-enabled": {{ .Env.TRANSMISSION_DOWNLOAD_LIMIT_ENABLED }},
    "download-queue-enabled": {{ .Env.TRANSMISSION_DOWNLOAD_QUEUE_ENABLED }},
    "download-queue-size": {{ .Env.TRANSMISSION_DOWNLOAD_QUEUE_SIZE }},
    "encryption": {{ .Env.TRANSMISSION_ENCRYPTION }},
    "idle-seeding-limit": {{ .Env.TRANSMISSION_IDLE_SEEDING_LIMIT }},
    "idle-seeding-limit-enabled": {{ .Env.TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED }},
    "incomplete-dir": "{{ .Env.TRANSMISSION_INCOMPLETE_DIR }}",
    "incomplete-dir-enabled": {{ .Env.TRANSMISSION_INCOMPLETE_DIR_ENABLED }},
    "lpd-enabled": {{ .Env.TRANSMISSION_LPD_ENABLED }},
    "max-peers-global": {{ .Env.TRANSMISSION_MAX_PEERS_GLOBAL }},
    "message-level": {{ .Env.TRANSMISSION_MESSAGE_LEVEL }},
    "peer-congestion-algorithm": "{{ .Env.TRANSMISSION_PEER_CONGESTION_ALGORITHM }}",
    "peer-id-ttl-hours": {{ .Env.TRANSMISSION_PEER_ID_TTL_HOURS }},
    "peer-limit-global": {{ .Env.TRANSMISSION_PEER_LIMIT_GLOBAL }},
    "peer-limit-per-torrent": {{ .Env.TRANSMISSION_PEER_LIMIT_PER_TORRENT }},
    "peer-port": {{ .Env.TRANSMISSION_PEER_PORT }},
    "peer-port-random-high": {{ .Env.TRANSMISSION_PEER_PORT_RANDOM_HIGH }},
    "peer-port-random-low": {{ .Env.TRANSMISSION_PEER_PORT_RANDOM_LOW }},
    "peer-port-random-on-start": {{ .Env.TRANSMISSION_PEER_PORT_RANDOM_ON_START }},
    "peer-socket-tos": "{{ .Env.TRANSMISSION_PEER_SOCKET_TOS }}",
    "pex-enabled": {{ .Env.TRANSMISSION_PEX_ENABLED }},
    "port-forwarding-enabled": {{ .Env.TRANSMISSION_PORT_FORWARDING_ENABLED }},
    "preallocation": {{ .Env.TRANSMISSION_PREALLOCATION }},
    "prefetch-enabled": {{ .Env.TRANSMISSION_PREFETCH_ENABLED }},
    "queue-stalled-enabled": {{ .Env.TRANSMISSION_QUEUE_STALLED_ENABLED }},
    "queue-stalled-minutes": {{ .Env.TRANSMISSION_QUEUE_STALLED_MINUTES }},
    "ratio-limit": {{ .Env.TRANSMISSION_RATIO_LIMIT }},
    "ratio-limit-enabled": {{ .Env.TRANSMISSION_RATIO_LIMIT_ENABLED }},
    "rename-partial-files": {{ .Env.TRANSMISSION_RENAME_PARTIAL_FILES }},
    "rpc-authentication-required": {{ .Env.TRANSMISSION_RPC_AUTHENTICATION_REQUIRED }},
    "rpc-bind-address": "{{ .Env.TRANSMISSION_RPC_BIND_ADDRESS }}",
    "rpc-enabled": {{ .Env.TRANSMISSION_RPC_ENABLED }},
    "rpc-host-whitelist": "{{ .Env.TRANSMISSION_RPC_HOST_WHITELIST }}",
    "rpc-host-whitelist-enabled": {{ .Env.TRANSMISSION_RPC_HOST_WHITELIST_ENABLED }},
    "rpc-password": "{{ .Env.TRANSMISSION_RPC_PASSWORD }}",
    "rpc-port": {{ .Env.TRANSMISSION_RPC_PORT }},
    "rpc-url": "{{ .Env.TRANSMISSION_RPC_URL }}",
    "rpc-username": "{{ .Env.TRANSMISSION_RPC_USERNAME }}",
    "rpc-whitelist": "{{ .Env.TRANSMISSION_RPC_WHITELIST }}",
    "rpc-whitelist-enabled": {{ .Env.TRANSMISSION_RPC_WHITELIST_ENABLED }},
    "scrape-paused-torrents-enabled": {{ .Env.TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED }},
    "script-torrent-done-enabled": {{ .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED }},
    "script-torrent-done-filename": "{{ .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME }}",
    "seed-queue-enabled": {{ .Env.TRANSMISSION_SEED_QUEUE_ENABLED }},
    "seed-queue-size": {{ .Env.TRANSMISSION_SEED_QUEUE_SIZE }},
    "speed-limit-down": {{ .Env.TRANSMISSION_SPEED_LIMIT_DOWN }},
    "speed-limit-down-enabled": {{ .Env.TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED }},
    "speed-limit-up": {{ .Env.TRANSMISSION_SPEED_LIMIT_UP }},
    "speed-limit-up-enabled": {{ .Env.TRANSMISSION_SPEED_LIMIT_UP_ENABLED }},
    "start-added-torrents": {{ .Env.TRANSMISSION_START_ADDED_TORRENTS }},
    "trash-original-torrent-files": {{ .Env.TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES }},
    "umask": {{ .Env.TRANSMISSION_UMASK }},
    "upload-slots-per-torrent": {{ .Env.TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT }},
    "utp-enabled": {{ .Env.TRANSMISSION_UTP_ENABLED }},
    "watch-dir": "{{ .Env.TRANSMISSION_WATCH_DIR }}",
    "watch-dir-enabled": {{ .Env.TRANSMISSION_WATCH_DIR_ENABLED }}
}

